@page "/data_entry"
@using SamplePage.apple_wallet
@using System
@inject AppleWallet appService
@rendermode InteractiveServer

<PageTitle>Data_entry</PageTitle>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Field1" aria-label="Field1" aria-describedby="basic-addon1" @bind="field1">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Field2" aria-label="Field2" aria-describedby="basic-addon1" @bind="field2">
</div>

<!--Need parameters-->
<button class="btn btn-primary" @onclick="CreatePass">Click me</button>

@code {

    private string field1 = string.Empty;
    private string field2 = string.Empty;
    private HttpResponseMessage? response;
    protected override async Task OnInitializedAsync()
    {
        appService = new AppleWallet(wal=>
        {
            wal.AppleWalletConfiguration = Environment.blah();
        });
    }

    protected async Task<HttpResponseMessage> CreatePass(string data1, string data2, int data3, string data4)
    {
        if(data1.isNullOrWhitespace() || data2.isNullOrWhitespace() || data3 <= 0 || data4.isNullOrWhitespace())
        {
            throw new ArgumentException("Invalid input parameters");
        }
        response = await appService.CreateWalletPass(data1, data2, data3, data4);
        return response;
    }
}
